<div class="it-hero-wrapper it-overlay it-bottom-overlapping-content">
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <div class="img-wrapper"><img src="https://gabrieljones.it/assets/Hey%20sono.png" title="..." alt="..."></div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-hero-card-wrapper bg-no">
<div class="row">
  <div class="col-12 col-lg-8">
    <!--start card-->
    <div class="card-wrapper card-space">
      <div class="card card-bg card-big">
        <div class="card-body">
          <h3 class="card-title h5 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</h3>
          <p class="card-text font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="read-more" href="#">
            <span class="text">Leggi di più</span>
            <span class="visually-hidden">su Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</span>
            <svg class="icon"><use href="#it-arrow-right" xlink:href="#it-arrow-right"></use></svg>
          </a>
        </div>
      </div>
    </div>
    <!--end card-->
  </div>
</div>
    </div>
      </div>
    </div>
  </div>
