<div class="it-hero-wrapper it-overlay it-bottom-overlapping-content">
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <div class="img-wrapper"><img src="https://www.uniud.it/it/servizi/servizi-studiare/biblioteche/sedi_orari_biblioteche/file-foto/copy_of_biblioteca2.jpg/@@images/60f940b5-863c-4443-9c35-f210aae5dfe2.jpeg" title="..." alt="..."></div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-hero-card-wrapper bg-no">
<div class="row">
  <div class="col-12 col-lg-8">
    <!--start card-->
    <div class="card-wrapper card-space">
      <div class="card card-bg card-big">
        <div class="card-body">
          <h3 class="card-title h3 ">Chi sono</h3>
          <p class="card-text font-serif">Hey ciao a tutti! Mi chiamo Gabriel Matteo Jones, adoro la biblioteca, l'oratorio e tanti altri ambienti che frequento quotidianamente.                                                                                   </p>
          <a class="read-more" href="/about/">
            <span class="text">Scopri la mia biografia</span>
            <svg class="icon"><use href="#it-arrow-right" xlink:href="#it-arrow-right"></use></svg>
          </a>
        </div>
      </div>
    </div>
    <!--end card-->
  </div>
</div>
    </div>
      </div>
    </div>
  </div>
