<div class="it-header-slim-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-header-slim-wrapper-content">
          <a class="d-none d-lg-block navbar-brand" href="/progetti/"> 
            <img src="/assets/logo.png" alt="Logo" width="40" height="40">Scopri tutti i progetti di gabrieljones.it
          </a>
          <div class="header-slim-right-zone">
            <!-- Account options -->
            {% comment %}
            <div class="it-access-top-wrapper">
              <button class="btn btn-primary btn-sm" href="#" type="button">Accedi</button>
            </div>
            {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
